---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<span class="font-myfont">Hola mundo</span>
	<div class="text-red-500">Cruel</div>
	<div class="h-[1200px]">
		Texto largo con scroll
	</div>
</Layout>

