---
const { title, subtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>

		<div class="h-10 bg-blue-500">
			Preheader
		</div>

		<header class="h-20 bg-cyan-700 sticky top-0">
			<h1 class="text-center font-myfont text-7xl">Aña</h1>
		</header>

		<menu class="flex bg-slate-400 justify-around">
			<li>
				<a href="/" class="hover:bg-white/30 block px-4">Inicio</a>
			</li>
			<li>
				<a href="/quienes-somos" class="hover:bg-white/30 block px-4">Quienes somos</a>
			</li>
			<li>
				<a href="/organigrama" class="hover:bg-white/30 block px-4">Organigrama</a>
			</li>
			<li>
				<a href="/contactos" class="hover:bg-white/30 block px-4">Contacto</a>
			</li>
		</menu>

		<slot />
	</body>
</html>

<style>
	@font-face {
  font-family: 'myfont';
  src: url('/fonts/PlaywriteGBS-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>
